@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
	background-color: #e2dfd8;
	margin: 0;
	font-family: 'DM Serif Display', serif;
	color:#392820;
	text-align: center;
}
body{
	margin-top: 1rem;
	
}
header img{
	width: 30vw;
	height:4vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1rem;
}
footer img{
		width: 6rem;
		height: 3rem;
}
nav ul{
	background-color: #392820;
	list-style: none;
	text-align: center;
	
}
nav li{
	background-color: #392820;
	color: #e2dfd8;
	display: inline-block;
	padding:1rem;
	font-size: 1.4rem;
}
nav li:hover{
	background-color: #e2dfd8;
	color:#392820;
}

section{
	display: flex;
}
.product-section{
	padding-bottom: 30px;
}
.product{
	justify-content: space-around;
	padding: 1rem;
}
.product > h2{
	padding: 1rem 0 1rem 0;
}
.product > p{
	font-size: 1.3rem;
}
article{
	flex:1;
}
.wall-img{
	width: 100%;
}
.product-img{
	width: 25vw;
	border-radius: 2rem;
	box-shadow: 11px 2px 42px -26px rgba(0,0,0,1);
}
footer{
	display: flex;
	padding: 1rem;
	justify-content: center;
	align-items:center;
}
footer div{
	flex: 1;
	
}
.about-us>h2{
	background: #392820;
	color: #e2dfd8;
	padding: 1rem;
}
.about-us{
	padding: 1rem;
}
.about-us p{
	font-size: 1.5rem;
	background: #392820;
	color: #e2dfd8;
	padding: 1rem;
}
.button-info{
	border-width: 2px;
	border-color: #e2dfd8;
	border-radius: 50px;
	color: #e2dfd8;
	background-color: #392820;
	margin-top: 1rem;
	padding: 6px;
	font-size: large;
}
.button-info:hover{
	border-color: #392820;
	border-radius: 50px;
	color: #392820;
	background-color:#e2dfd8;
}
	/*Mangata and Gallo is a jewelry store that
	 specializes in special occasions like engagements,
	  weddings and anniversaries. The jewelry company
	   primarily operates online and has a small storefront
	    in Austin, Texas with an atelier attached for 
		browsing. Mangata & Gallo's selection of jewelry
		 is known for its high-quality and classic look.
		  The owner, an Austin local, is well known for 
		  her jewelry designs.  

Mariana is the owner and the
 lead designer of Mangata and
  Gallo. After graduating from
   design school with a specialization in diamond 
   cutting and metal smithing, Mariana opened a store 
   in her hometown, Austin and started to grow her business
    online. Mariana has always managed every aspect of the 
	business, from jewelry design to marketing to e-commerce. However, she recently hired several artisans to help craft her designs and a young employee to help manage the company website and social media accounts.